<div data-ng-show="errorMessage" class="alert alert-danger row">
    <span>{{ errorMessage }}</span>
</div>
<br />

<table id="budgetCategoryTable" class="table" ts-wrapper>
    <thead>
        <tr>
            <th ts-criteria="name" ts-default>Name</th>
            <th ts-criteria="description">Description</th>
            <th ts-criteria="budgetedAmount|parseFloat">Budgeted Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in budgetCategories" ng-class="$even ? 'oddRow' : 'evenRow'" ts-repeat>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>{{category.budgetedAmount | to_monetary_value}}</td>
            <td><a ui-sref="modifybudgetcategory({ categoryId: category._id })">EDIT</a> | <a href="" ng-click="deleteBudgetCategory(category)" >DELETE</a></td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="totalsRow"></td>
        <td class="totalsRow" style="text-align: right">TOTAL</td>
        <td class="totalsRow">{{totalBudgetedAllCategories | to_monetary_value}}</td>
        <td class="totalsRow"></td>
    </tr>
    </tfoot>
</table>

<br />
<button class="btn btn-primary" ui-sref="addbudgetcategory">Add New Category</button>

<div script-loader pagename="managecategories"></div>
<toastr-watcher></toastr-watcher>